
<div class="container mt-5">
  <div>
  <div class="author_div">
    <%= image_tag "author.png" %> 
  </div>

  <h2> Chris Blassiaux</h2>
  <a href="http://chrisb.fr/" target="_blank">Site Web</a> <br>
  <a href="https://github.com/ChrisBlassiaux" target="_blank">Github</a> <br>
  <a href="#">@chrisblassiaux</a>
</div>



<div class="clear ">
  <div class="author_div">
    <%= image_tag "logo_thp_mini.png" %> 
  </div>

  <h2> The Hacking Project</h2>
  <a href="https://www.thehackingproject.org/fr" target="_blank">Site Web</a> <br>
  <a href="#">@thehackingproject</a>
</div>

<p>@ChrisBlassiaux et The Hacking Project</p>

</div>